.rms-slide {
  width: 97%;
  position: relative;
  margin: 30px 0;
  text-align: left;

  .rms-slide-track {
    width: auto;
    height: 6px;
    margin: 0 auto;
    position: relative;
    cursor: e-resize;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #b4b4b4;
    }
  }

  &.disabled {
    .rms-slide-track {
      pointer-events: none;
      opacity: .6;
    }

    .rms-slide-lock {
      background-color: #95a5a6;

      &:before {
        top: -10px;
        left: 3px;
        border-color: #95a5a6;
        transform: rotate(0);
      }
    }
  }

  .rms-slide-fill {
    top: 0;
    height: 100%;
    background-color: #ee3e43;
    position: absolute;
    transition: all .3s ease-in-out
  }

  .rms-slide-handle {
    border: 1px solid #ee3e43;
    cursor: pointer;
    width: 34px;
    height: 20px;
    padding: 7px 0;
    border-radius: 100%;
    text-align: center;
    display: block;
    position: relative;
    z-index: 2;
    vertical-align: middle;
    background-color: #ee3e43;
    color: #fff;
    font-family: sans-serif;
    top: -16px;
    font-size: 16px;

    transition: all .3s ease-in-out;

    &:before, &:after {
      position: absolute;
      top: 9px;
      left: 4px;
    }

    &:after {
      left: 14px;
    }
  }

  .rms-slide-lock {
    cursor: pointer;
    width: 20px;
    height: 18px;
    display: inline-block;
    background-color: #e74c3c;
    border-radius: 3px;
    position: absolute;
    right: -35px;
    bottom: -5px;
    transition: all .3s ease-in;

    &:before {
      content: '';
      height: 8px;
      width: 8px;
      display: block;
      border: 3px solid #e74c3c;
      border-bottom: none;
      border-radius: 50px 50px 0 0;
      position: absolute;
      top: -11px;
      left: 6px;
      transform: rotate(39deg);
      transition: all .1s ease-in;
    }

    &:after {
      content: '';
      width: 5px;
      height: 7px;
      background: #fff;
      border-radius: 2px;
      border: 5px;
      position: absolute;
      top: 6px;
      left: 8px;
    }
  }

  .lock {
    width: 38px;
    height: 25px;
    display: block;
    position: relative;
    margin-top: 40px;
    background: #333;
    border-radius: 3px;
    border-left: 1px dashed #fff;
    border-right: 1px dashed #fff;

    &:before {
      content: '';
      height: 10px;
      width: 16px;
      display: block;
      border: 5px solid #333;
      border-bottom: none;
      border-radius: 50px 50px 0 0;
      -webkit-border-radius: 50px 50px 0 0;
      -moz-border-radius: 50px 50px 0 0;
      position: absolute;
      top: -15px;
      left: 6px;
    }

    &:after {
      content: '';
      width: 5px;
      height: 7px;
      background: #fff;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border: 5px;
      position: absolute;
      top: 8px;
      left: 17px;
    }
  }

  @media screen and (max-width: 767px) {
    .label {
      display: none;
    }
  }
}

.rms-select-disable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .rms-slide-fill, .rms-slide-handle {
    transition: none;
  }
}