@import "variables";
@import "themes";
@import "icons";

/*
    Common styles
*/

#rms {
  padding: 0 20px;
}

body {
  font-family: sans-serif;
  text-align: center;
  overflow-x: hidden;
  margin: 0;
}

.cont {
  padding: 0 20px;
}

.info {
  overflow: hidden;
  margin-bottom: 25px;
}

.icon {
  width: 70px;
  height: 70px;
  display: inline-block;
  font-size: 60px;
  text-align: left;
  float: left;

  .icon-SMS {
    font-size: 70px;
    margin-left: -24px;
  }
}

h3 {
  font-size: 24px;
  color: #555;
  margin: 0;
}

p {
  font-size: 14px;
  color: #999;
}

.label {
  text-align: right;
  margin-top: -31px;
  font-size: 20px;
  color: #555;
}

.label span {
  font-size: 24px;
  font-weight: bold;
}

.center {
  text-align: center;
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 22px;
  }

  .icon {
    font-size: 40px;

    .icon-SMS {
      font-size: 50px;
      margin-left: -17px;
    }
  }
}